# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Env / tooling
.env

# Local conda env created by assistants/tools
conda-env/

# OS
.DS_Store

# Docker
docker-compose.override.yml

# React / Node
node_modules/
dist/
